body {
	background-color: white;
}

h1 {
	font-family: Arial;
	font-size: 54px;
	color: ;
}

h2 {
	font-family: Arial;
	font-size: 36px
}

p {
	font-family: Arial;
	font-size: 20px;
}

ul {
	font-family: Arial;
	font-size: 25px;
	color: ;
}


